
<section>
	<!-- left side start-->
	<div ng-include="'left_menu.html'"></div>
	<!-- left side end-->
	<!-- main content start-->
	<div class="main-content">
		<!-- header section start-->
		<div class="header-section">

			<!--toggle button start-->
			<a class="toggle-btn"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

		</div>
		<!-- header section end-->

		<!-- page heading start-->
		<div class="page-heading">
			<h3>数据分析目录</h3>
		</div>
		<!-- news list start  -->
		<div ng-controller="dataAnalyzeCategoryAddController">
			<form class="form-horizontal">
				<input type="hidden" ng-model="id">
				<div class="form-group">
					<label class="col-sm-2 control-label">数据分析名称:</label>
					<div class="col-sm-10">
						<input ng-model="analyzeTypeName" placeholder="analyzeTypeName">
					</div>
				</div>
				<div>
					&nbsp;
					<button class="btn btn-success"
						ng-click="dataAnalyzeCategory_save();">
						<span class="save"></span>保存
					</button>
					&nbsp;
					<button class="btn btn-warning"
						ng-click="dataAnalyzeCategory_list();">
						<span class="update"></span>返回
					</button>
					</button>
				</div>
			</form>
			<hr>
		</div>
		<!-- news list end  -->

		<!-- page heading end-->

		<!--body wrapper start-->
		<!--body wrapper end-->

		<!--footer section start-->
		<footer> 2016 &copy; Developed by Shirley </footer>
		<!--footer section end-->
	</div>
	<!-- main content end-->
</section>

