
<section>
	<!-- left side start-->
	<div ng-include="'left_menu.html'"></div>
	<!-- left side end-->
	<!-- main content start-->
	<div class="main-content">
		<!-- header section start-->
		<div class="header-section">

			<!--toggle button start-->
			<a class="toggle-btn"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

		</div>
		<!-- header section end-->

		<!-- page heading start-->
		<div class="page-heading">
			<h3>研发团队操作</h3>
		</div>
		<!-- news list start  -->
		<div ng-controller="studyTeamAddController">
			<form class="form-horizontal">
				<input type="hidden" ng-model="id"> <input ng-model="id"
					type="hidden" placeholder="id">
				<div class="form-group">
					<label class="col-sm-2 control-label">描述:</label>
					<div class="col-sm-10">
						<input ng-model="description" placeholder="description">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">主题任务:</label>
					<div class="col-sm-10">
						<input ng-model="subjectsTask" placeholder="subjectsTask">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">相关文章:</label>
					<div class="col-sm-10">
						<input ng-model="relativeArticles" placeholder="relativeArticles">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">类型:</label>
					<div class="col-sm-10">
						<input ng-model="type" placeholder="type">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">团队名称:</label>
					<div class="col-sm-10">
						<input ng-model="teamGroupName" placeholder="teamGroupName">
					</div>
				</div>
			<!-- 	<div class="form-group">
					<label class="col-sm-2 control-label">studyTeamcol:</label>
					<div class="col-sm-10">
						<input ng-model="studyTeamcol" placeholder="studyTeamcol">
					</div>
				</div> -->
				
				<div class="form-group">
					<label class="col-sm-2 control-label">研究方向:</label>
					<div class="col-sm-10">
						<!-- 
							<textarea class="form-control ckeditor" name="editor1" rows="6"></textarea>
						 -->
						<textarea class="wysihtml5 form-control" rows="9" ng-model="studyDirection"></textarea>
					</div>
				</div>
				
				<div>
					&nbsp;
					<button class="btn btn-success" ng-click="studyTeam_save();">
						<span class="save"></span>保存
					</button>
					&nbsp;
					<button class="btn btn-warning" ng-click="studyTeam_list();">
						<span class="update"></span>返回
					</button>
					</button>
				</div>
			</form>
			<hr>
		</div>
		<!-- news list end  -->

		<!-- page heading end-->

		<!--body wrapper start-->
		<!--body wrapper end-->

		<!--footer section start-->
		<footer> 2016 &copy; Developed by Shirley </footer>
		<!--footer section end-->
	</div>
	<!-- main content end-->
</section>


