<div class="container"  >
		
		    <form class="form-signin" action="#">
		        <div class="form-signin-heading text-center">
		            <h1 class="sign-title">Sign In</h1>
		        </div>
		        <div class="login-wrap" >
		            <input ng-model="username" class="form-control">
		            <input type="password" ng-model="password" class="form-control" >
		
		            <button class="btn btn-lg btn-login btn-block" type="button" ng-click="login()">login - 
		                <i class="fa fa-check"></i>
		            </button>
		
		            <div class="registration">
		                Not a member yet?
		                <a class="" href="＃">
		                    Signup
		                </a>
		            </div>
		            <label class="checkbox">
		                <input type="checkbox" value="remember-me"> Remember me
		                <span class="pull-right">
		                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>
		
		                </span>
		            </label>
		
		        </div>
		
		    </form>
		
		</div>